# Config file.

[Anki]
Ankiconnect = http://localhost:8765/
MediaFolder = /Users/jeff/Library/Application Support/Anki2/User 1/collection.media/

[AnkiCard]
Deck = Spanish::03_Spanish_audio
ModelName = Audio_Exposure
AudioField = Front_Audio
TranscriptionField = Front
